<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
<div class="header">
    <h1>Administracion</h1>
    <button class="registerBtn" type="button">
        <i class="uil-user-plus"></i>
        <span class="btnText">Registrar</span>
    </button>
</div>
<div class="container clearfix">
    <table class="table-style">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% if (noClients) { %>
            <tr>
                <td colspan="3">No clients found.</td>
            </tr>
        <% } else { %>
            <% clients.forEach(function(client) { %>
                <tr>
                    <td><%= client.NombreCompleto %></td>
                    <td><%= client.Email %></td>
                    <td>
                        <button class="deleteBtn" data-client-id="<%= client.PersonID %>" type="button">
                            <i class="uil-user-minus"></i>
                            <span class="btnText">Eliminar</span>
                        </button>
                        <button class="showBtn" data-client-id="<%= client.PersonID %>" type="button">
                            <i class="uil-eye"></i>
                            <span class="btnText">Mostrar</span>
                        </button>
                        <button class="editBtn" data-client-id="<%= client.PersonID %>" type="button">
                            <i class="uil-edit"></i>
                            <span class="btnText">Editar</span>
                        </button>
                    </td>
                </tr>
            <% }); %>
        <% } %>
        </tbody>
    </table>
    <% if(totalPages > 1) { %>
        <div class="pagination">
            <% if(hasPreviousPage) { %>
                <a href="?page=<%= previousPage %>">&laquo; Previous</a>
            <% } %>
            <% for(let i = 1; i <= totalPages; i++) { %>
                <a class="<%= i === currentPage ? 'active' : '' %>" href="?page=<%= i %>"><%= i %></a>
            <% } %>
            <% if(hasNextPage) { %>
                <a href="?page=<%= nextPage %>">Next &raquo;</a>
            <% } %>
        </div>
    <% } %>
</div>

<script src="script-menu.js"></script>
</body>

</html>